@use "../vars";
@use "../responsive";

.dark-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 16px;
  gap: 12px;
  border-radius: 1000px;
  background: vars.$dark;
  transition: all .3s;
  cursor: pointer;

  &:hover {
    background: #495163;
  }

  &__text {
    color: vars.$white-text;
    font-size: 16px;
    font-weight: 500;
    transition: all .3s;
  }

  &__icon {
    width: 24px;
    height: 24px;

    svg {
      display: block;
    }
  }

  &:disabled,
  &.disabled {
    background: #495163;
    cursor: not-allowed;
  }
}

.white-btn {
  padding: 20px 16px;
  border-radius: 1000px;
  border: 1px solid #2F3542;
  background: transparent;
  text-align: center;
  color: vars.$dark-text;
  font-size: 16px;
  font-weight: 500;
  transition: all .3s;
  cursor: pointer;

  &:hover {
    background: #868688;
    color: vars.$white-text;
    border: 1px solid #868688;
  }
}