@use "../../vars";
@use "../../responsive";

.main-video {
  padding: 10px;
  width: 100%;

  &__wrapper {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    height: calc(100vh - 20px);
  }

  &__item {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s;

    &.hidden {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
  }

  &__text {
    position: relative;
    z-index: 1;
    padding: 128px 10px 90px;
    color: vars.$white-text;
    text-align: center;
    font-size: 48px;
    font-weight: 700;

    @include responsive.media-breakpoint-down(md) {
      font-size: 34px;
      line-height: 40px
    }
  }

  &__play {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 84px;
    height: 84px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.40);
    z-index: 2;
    cursor: pointer;
  }
}