$transition-default: 0.3s ease-in-out;

$white-text: #fff;
$dark-text: #2F3542;
$white-bg: #fff;

$violet: #9747FF;
$yellow: #FFA502;
$blue: #1E90FF;
$red: #FF4757;
$green: #2ED573;
$pink: #F963AB;
$dark: #2F3542;