@import "./reset.scss";
@import "./fonts.scss";
@import 'swiper/css';

* {
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: normal;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #FFF;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  overflow: hidden;
}

.block {
  width: 100%;
  height: 100vh;
}

.block-1 {
  background: red;
}

.block-2 {
  background: black;
}

.block-3 {
  background: green;
}

.block-4 {
  background: gray;
}

.test-block {
  height: 100vh;
  width: 100vw;
  background: purple;
}


.full-window {
  width: 100%;
  height: 100vh;
}

@import "components/main-slider";
@import "components/swiper";
@import "components/header/header";
@import "components/header/menu";
@import "components/main-info";