@import "./reset.scss";
@import "./fonts.scss";
@import 'swiper/css';

* {
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: normal;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #FFF;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  overflow: hidden;
}

.full-window {
  width: 100%;
  height: 100vh;
}

.no-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

sup {
  vertical-align: super;
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #2F3542;
    border-radius: 24px;
  }
}

@import "components/main-page/main-slider";
@import "components/swiper";
@import "components/header/header";
@import "components/header/menu";
@import "components/main-page/main-info";
@import "components/main-page/main-firms";
@import "components/main-page/main-video";
@import "components/main-page/main-news";
@import "components/main-page/main-horizontal-scroll";
@import "components/news-card";
@import "components/footer";
@import "components/about/about-desc";
@import "components/about/about-rates";
@import "components/about/about-marquee";
@import "components/about/about-info";
@import "components/about/about-contacts";
@import "components/about/about-char";
@import "components/buttons";
@import "components/news";
@import "components/news-det";
@import "components/custom-tags";
@import "components/renter";
@import "components/modal";
@import "components/form";
@import "components/catalog";
@import "components/catalog-single";